
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-color: #F2F2F2;
    
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*      navigation start */
.nav{
     display:flex;
     justify-content: space-between;
     align-items: center;
    height:5rem;
     background-color: white;
}
.nav-left{
    margin-left:2rem;
    
}
.nav-center{
     display:flex;
     justify-content:space-between;
}

.ullist{
    list-style:none;
    display: flex;
    justify-content: space-between;
}
.listitem{
    margin-left:1rem;
    padding:1rem;
    color: #202020;
    font-size:1.5rem;


}
.nav-right{
    margin-right:6rem;
    justify-content: space-between;
    
   
}
.btnepixel{
   width:9vw;
   height:2.7rem;
   border-radius: .4rem;
   font-size:1rem
     
}
#login{
    background-color: white;
    color: #18A0FB;
border:2px solid #18A0FB;

}
#register{
    background-color:#18A0FB ;
    color: white;
    border: none;
}

/*  ------ navigation ends*/
/* ---hedaer start---  */
.header{
    width: 100%;
    height: 85vh;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("Assestes/scott-graham-5fNmWej4tAA-unsplash%201.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    opacity:.9;
}

.hed-4{
    
     padding-top:23rem;
     margin-left:17rem;
     font-size: 2rem;
     color:#FFFFFF;
}
.hed-4 button{
    margin-left:25rem;
}
.core{
    width:15%;
    font-size: 1.5rem;

}

/* hedaer-ends */


/* ----section-1 start---- */
.section-1{
     background-color: white;
     width:100%;

 justify-content: space-between;

 
 height:40rem;
}
.snap-photos{
 width:100%;
 
 justify-content: space-between;
 
 height:40rem;

}

.headin{
    width:45%;
   
    margin-left:3rem;
    font-size:1.2rem;
    font-weight: 5rem;
    letter-spacing: 1.4px;
   padding-top:4rem;
   

}
.cont-1{
    display: flex;
    justify-content: space-between;
  padding-top: 1rem;
    width:100%;
    margin-right: 3rem;
}

.sanp1{
    /* border:2px solid black; */
    width:45%;
    margin-left:2rem;
    font-size:1.2rem;
  padding-top:1rem;
}
.hed1{
     font-size:1.8rem;
     margin-left:.5rem;
     font-weight:bold;
     
}
.paraepi{
    margin-left:.5rem; 
}
.butn-3{
margin-top:.6rem;
margin-left:.5rem; 

}

/*      section -1 end */
/* ----  section 2 start--- */
.sec-4 {
    width: 100%;
   height:961px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    background-color: white;
    padding-top:5rem;
    margin-top: 5rem;
    
}

.sec-4-hed  {
    text-align: center;
    margin-bottom: 2rem;
    
    
}
.head098{
    padding-top:1rem;
    font-weight:600px;
    font-size:48px;
    margin-left:144px;
    color: #000000;
    
}
.para098{
    margin-top:1.5rem;
    font-size:36px;
    line-height: 50px;
    width:70%;
    margin-left:15rem;
    color: #000000CC;
    ;

}
.imgside-cont{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    /* border:2px solid black; */
    padding-top: 4rem;
    margin:  0,20vw;
    gap:2rem;
}
.cont01{
    display: flex;
    flex-direction: column;
    width:45%;
    height:40rem;
    margin-left: 2rem;
    padding-top: 5rem;
}
.cont11{
    display: flex;
    flex-direction: column;
    justify-content:column;
    margin-left:2rem;
}
.cont11 h1{ 
    font-size:1.5rem;
    padding-top: 2rem;
    color:  #000000;
    
}
.cont11 p{
    font-size:1.2rem;
    padding-top: 2rem;
    color:#000000CC;
}

.img{
  
   width:45vw;
   height:50vw;
   margin-right:3rem;
  
}
.imga23{
    width:90%;
    height:65%;
}

/* ----- section 2 ends */



/* ----section-3 start--- */
.sec-3-cards{
    display: flex;
    justify-content:space-between;
    margin-left:5rem;
    margin-right: 8rem;
    padding-top: 3rem;
}

.cards{
    border:2px solid #CCCCCC;
    width:25%;
    margin-left: 3rem;
    height:24rem;
    display: flex;
    flex-direction: column;
}
.img-sec-3{
  
    overflow: hidden;
      box-shadow: 0 4px 8px rgba(129, 113, 113, 0.1);
      height:13rem;
}

.cards h1{
    text-align: center;
    margin-top:1rem;
    
}
.cards p{
    text-align: center;
    margin-left:3rem;
    margin-right:3rem;
    margin-top:.5rem;
    font-size: 1rem;
    font-family: Montserrat;
}
/*  ----section-3 ends---- */

/* --------section -4 starts */
.sec-4-form {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   width:35%;
 
    border:2px solid #00000080;
    height:60%;
    
    
}
.hed87{
    display: flex;
    align-items: flex-start;


}
.formClass{
    
    margin: 2rem;
    
}
.first-row {
    display: flex;
    justify-content:space-evenly;
    align-items:stretch;
    margin-bottom: 1rem; 
    padding-top: 1rem;
    gap:2%;
   
   
}

.input{
    width: 90%; 
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
  
   
}

.sec-4-form input[type="password"] {
    width: 95%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
  
  
}
.butreg{
    display: flex;
    align-items: start;
    padding-top:1rem;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 2px;
}
.error{
    display: flex;
    flex-direction: column;
}

.sec-4-foot {
    margin-top: 2rem; 
    width:100%;
    height:17rem;
    background-color: #000000CC;
    display: flex;
    justify-content: space-between;
}
.foot-logo{
    margin-top:3rem;
    filter: brightness(0) invert(1);
    margin-left:5rem;
   
}
.foot-logo-1{
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 7rem;
}
.foot-mobile{
    padding:3rem;
    

}
.foot-mobile h3{
    color:#FFFFFF;
    font-size:1.2rem;
    
}
.ul{
    list-style: none;
    margin-top:1rem;
}
.list1{
    color:#FFFFFFCC;
    margin-left:.3rem;
    
}
.foot-but{
    padding:3rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.footer-bottom {
    
    padding: 20px;
    background-color: #000000CC;
    
  }



  .bottom-divider{
   
    border: none;
    border-top: 1px solid #ccc; 
    margin: 0 20px;
   
  
}
.soci{
    display: flex;
    justify-content: space-between;
    margin:20px 20px;

  }
  .phto{
    color:white;
}
.follo{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
   
  }
  .follow{
    color:white;
}
.social-icons{
    display: flex;
    justify-content:space-around;
    /* margin-right:8rem; */
   
   width:200px;
   height:40px;
   gap:1rem;
  }
  .icon{
    width:50%;
    height:100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#4B4B4B;
    color:white;
    border-radius: 50%;

  }
.sec-09{
    height:50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-4-form h2{
    padding-top: 2rem;
    text-align: start;
    margin-left: 1rem;
}
 

@media (min-width:964px) and (max-width:1024px){

    .nav{
        width:100%;

    }
    .nav-right{
        margin-right:.6rem;

        
    }
    .btnepixel{
         width:10vw;
    }

    .header{
        width:100%;
        padding-top:16rem;
        

    }
    .hed-4{
        padding-top: 20rem;
       margin-left:1rem;
        
    }
    .core{
        width:15%;

    }
    .snap-photos{
        width:100%;

    }
    .headin{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .cont-1{
        display: flex;
        flex-wrap: wrap;
    }
    .img{
        width:100vw;
    }
   .imga23{
    width:90%;
   margin-right:1rem;
   height:130%;

   }
   .imgside-cont{
    gap:2rem;
   }
   .sec-4{
    height:65rem;
   }
   .cards{
  
    width:32%;
 padding-right:.3rem;
   }
   .sec-3-cards{
    width:80%;
   }
   .head098{
padding-top: 2rem;
font-size:1.5rem;
font-weight: 1rem;
margin-left:6rem;
   }
  .para098{
  font-size:1.5rem;
  margin-left:10rem;
  
   }
   .sec-4-head{
    margin:0 10px;
   }
   .cont01{
    width:60%;
   }
.img-sec-3{
    width:102%;
    height:50%;
}
}

